body{
    
    font-family: 'Open Sans', sans-serif;
        display: grid;
        background-color: #b5b3be;
        font-family: 'Nosifer', cursive;
        align-items: center;
        justify-content: center;background: #334c61;
        animation: color-me-in 5s;
}@import url('https://lh3.googleusercontent.com/-ye7UmKteoqDTpzOidagM-0wXXao3koiK9xgm1yep4KLG6igquT4zR2Ldr57PZCbhbj0=s169');
#contactbody{
  font-display: 'Nosifer', cursive;
  justify-content: left;
  font:caption;
  text-transform: capitalize;
  background-color: coral;
 
}
p{
  color:#11044e;
  font-family: cursive;
  display: block;
  padding: 25px 125px;
}
p.about{
  padding: 0px 385px 0px 25px;

}
h1{
  position: relative;
    left: 50%;
    margin-left: -150px;
    color: #d28f1b;
    font-family: 'Source Code Pro', sans-serif;
  }
  h1 span {position: relative;
    left: 50%;
    top: 50px;
    margin-left: -150px;
    width: 240px;
    height: 240px;
    color: rgba(255,255,255,.3);
    font-family: 'Source Code Pro', sans-serif;
  }
  h1 span {
    left: -132px;
    top:-29px;
    font-size: smaller;
    height: 30px;
    text-shadow:
      0 0 2px rgba(192, 157, 236, 0.9),
      0 15px 25px rgba(198, 107, 226, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(140, 90, 168, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(121, 59, 129, 0.2),
      0 0 20px rgba(187, 119, 214, 0.45),
      0 0 30px rgba(192, 42, 230, 0.4);
    animation: loading 1s ease-in-out infinite alternate;
}
@keyframes color-me-in {
    
    0% {
      background:#9066f1;
    }
    50%{
      background-color: rgb(146, 122, 255);
    }
    
    100% {
      background:#4e7ba7
      
    }
  }
.heart {
    background-color:indianred;
    display: inline-block;
    height: 1em;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 1em;
    animation: heartbeat 1s 1s infinite ease;
  }
  
  .heart:hover {
    animation-play-state: paused;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: lightcoral;
    border-radius: 50%;
    height: 1em;
    position: absolute;
    width: 1em;
  }
  
  .heart:before {
    top: -0.5em;
    left: 0;
  }
  
  .heart:after {
    left: 0.5em;
    top: 0;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    
    35% {
      transform: scale(1.3) rotate(-45deg);
    }
    
    50% {
      transform: scale(1) rotate(-45deg);
    }
    
    65% {
      transform: scale(1.2) rotate(-45deg);
    }
    
    80% {
      transform: scale(1) rotate(-45deg); 
    }
  }
  a{
    color: #d28f1b;

  }
  img{
    padding: 25px 80px;
  }
  #about{
    font-family: 'Roboto', sans-serif;
    max-width: 700px;
  }
  #list{
    padding: 0;
    margin-top: 100px;
  }
  li{
    display: inline-block; 
      margin: 0 5px;
      color: rgb(0, 95, 85);
      list-style: circle;
      position: relative;
      padding-left: 10px;

  }
  ul.indianred li{
    color: indianred;
    display: table-caption;
    text-transform: capitalize;
    top: 20px;

  }

#d{
    font-family: 'Nosifer', cursive;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin: 0;

}
#e{
    font-family: 'Nosifer', cursive;
    position: center;
    color: #d28f1b;
    width: max-content;

}
#g{
  font-family: 'Courier New', Courier, monospace;
  position: relative;
  color: lightcoral;
  width: max-content;
}
#umbrella{
    z-index: 2;

}
.cover{
    fill: rgb(0, 156, 161);

}
#statement{
  display: inline-block;
  width:66%;
  min-width: 332px;
  vertical-align: top;
  margin-right: 10px;
}

section {
	
	width: 523.446px;
  height: 572.541px;
  padding: 20px 90px 20px 160px;
}
svg {
	fill: goldenrod;
	position: absolute;
}

.drop {
	animation: drop 2s cubic-bezier(1, 0, 1, 0.5) infinite;
	z-index: 1;
	margin-top: 160px;

}

#drop-1 {
    margin-left: 93.33px;
    animation-delay: 1.2s;
    fill: pink;
}
#drop-2 {
	margin-left: 200.191px;
    animation-delay: 1s;
    fill: whitesmoke;
}
#drop-3 {
	margin-left: 366.71px;
    animation-delay: 0.5s;
    fill: blue;
}
#drop-4 {
	margin-left: 445.73px;
	animation-fill-mode: forward;
	animation-delay: 0;
	fill:indianred;
}
#drop-5{
	margin-left: 500.70px;
	fill: antiquewhite;
	animation-play-state:running;
}
.drop:hover{
    animation-play-state: paused;
    height: 100px;
}
@keyframes drop {
	from {
		transform: translateY(0) scaleY(0.8);
	}
	to {
		transform: translateY(1024px);
	}
}@import url('https://lh3.googleusercontent.com/-ye7UmKteoqDTpzOidagM-0wXXao3koiK9xgm1yep4KLG6igquT4zR2Ldr57PZCbhbj0=s169');
body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container::before {
    content:  "";
    background: url('https://lh3.googleusercontent.com/-ye7UmKteoqDTpzOidagM-0wXXao3koiK9xgm1yep4KLG6igquT4zR2Ldr57PZCbhbj0=s169'), #402a2bd8;
    background-size: cover;
    filter: blur(40px);
    height: 115vh;
    width: 115vw;
    position: fixed;
    top: -10%;
    display: block;
    z-index: -1;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  height: 450px;
  align-items: center;
  justify-content: center;
}

.item:nth-child(3n+1) { order: 1; }
.item:nth-child(3n+2) { order: 2; }
.item:nth-child(3n)   { order: 3; }

.grid::before,
.grid::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.item {
    height: 32%;
    margin: 0 0.5em 0.5em 0;
}

.item img {
    width: auto;
    height: 97%;
    border: 5px solid #FFF;
    transition: all 0.3s;
    cursor: pointer;
}

.item:hover {
    position: relative;
}

.item:hover::after {
    content: "Сlick to get more info...";
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    overflow: hidden;
    width: 0;
    background-color: #FFFFFFAF;
    color: #333;
    padding-left: 15px;
    line-height: 30px;
    box-sizing: border-box;
    animation: show-up 0.5s linear forwards;
}

@keyframes show-up {
    to {
        width: 100%;
    }
}


.big-panel {
    font-family: fantasy;
    position: absolute;
    width: 0;
    top: 0;
    left: 0;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    transition: 0.3s all linear;
    background: #FFFFFFDD;
    overflow: hidden;
    z-index: 1000;
}

.big-panel.show {
    width: 90vw;
    left: 5vw;
    top: 5vh;
}

.big-panel.show .div-img {
    width: 55%;
    text-align: center;
    height: 60vh;
}

.div-img img {
    border: 8px solid #FFF;
    max-height: 100%;
    max-width: 90%;
}

.big-panel.show .info {
    width: 40%;
    padding-right: 5%;
    font-size: 1.2em;
    line-height: 1.35em;
    text-align: justify;
    overflow: auto;
    max-height: 100%;
}

.big-panel.show .close {
    position: absolute;
    right: 20px;
    top: 10px;
    cursor: pointer;
    transition: 0.3s transform;
}

.close:hover {
    transform: rotate(270deg) scale(1.2)
}

.close:active {
    color: #fff;
}
