body{
    color:yellowgreen;
    font-family: 'Open Sans', sans-serif;
        display: grid;
        background-color: green;
        font-family: 'Nosifer', cursive;
        align-items: center;
        justify-content: center;background: black;
        animation: color-me-in 5s;


}
@keyframes color-me-in {
    /* You could think of as "step 1" */
    0% {
      background:rgb(233, 250, 3);
    }
    /* You could think of as "step 2" */
    100% {
      background: rgba(63, 85, 1, 0.918);
    }
  }
.heart {
    background-color: red;
    display: inline-block;
    height: 1em;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 1em;
    animation: heartbeat 1s 1s infinite ease;
  }
  
  .heart:hover {
    animation-play-state: paused;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 1em;
    position: absolute;
    width: 1em;
  }
  
  .heart:before {
    top: -0.5em;
    left: 0;
  }
  
  .heart:after {
    left: 0.5em;
    top: 0;
  }
  
  @keyframes heartbeat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    
    35% {
      transform: scale(1.3) rotate(-45deg);
    }
    
    50% {
      transform: scale(1) rotate(-45deg);
    }
    
    65% {
      transform: scale(1.2) rotate(-45deg);
    }
    
    80% {
      transform: scale(1) rotate(-45deg); 
    }
  }
#c{
    background: ;
}
#d{
    font-family: 'Nosifer', cursive;

}
#e{
    font-family: 'Nosifer', cursive;

}
#umbrella{
    z-index: 2;

}
.cover{
    fill: green;

}


section {
	
	width: 523.446px;
	height: 572.541px;
}
svg {
	fill: yellow;
	position: absolute;
}

.drop {
	animation: drop 2s cubic-bezier(1, 0, 1, 0.5) infinite;
	z-index: 1;
	margin-top: 160px;

}

#drop-1 {
    margin-left: 93.33px;
    animation-delay: 1.2s;
    fill: pink;
}
#drop-2 {
	margin-left: 200.191px;
    animation-delay: 1s;
    fill: whitesmoke;
}
#drop-3 {
	margin-left: 366.71px;
    animation-delay: 0.5s;
    fill: blue;
}
#drop-4 {
	margin-left: 445.73px;
	animation-fill-mode: forward;
	animation-delay: 0;
	fill:red;
}
#drop-5{
	margin-left: 500.70px;
	fill:red;
	animation-play-state:running;
}
.drop:hover{
	animation-play-state: paused;
}
@keyframes drop {
	from {
		transform: translateY(0) scaleY(0.8);
	}
	to {
		transform: translateY(1024px);
	}
}
